*+article {
    margin-top: 0rem;
}

article {
    font-family: serif;
}

h1, h2, h3, h4, h5, h6, label, button {
    font-family: var(--font);
}

textarea {
    line-height: 20rem;
}

#main-content {
    max-width: 960rem;
}

#controls {
    margin-top: 16rem;
    margin-bottom: 24rem;
}

/* For the search bar. */
#controls .field {
    height: 40rem;
}

#add-recipe-card {
    height: 128rem;
}

#add-recipe-card > i {
    font-size: 64rem;
    overflow: visible;
    width: auto;
}

.content-container {
    max-width: 960rem;
    margin: auto;
}

.clickable {
    cursor: pointer;
}

.multiline-truncate {
    border-radius: 0;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
