# Python litter.
__pycache__/

# User uploaded images.
**/user_images/*

# Flask instance (database).
instance/

# Virtual environment.
venv/

# Direnv.
.envrc

# Packaging artifacts.
*.egg-info/

# Test artifacts.
.coverage

# HTTPie artifacts.
session.json
