# Python litter.
__pycache__/

# User uploaded images.
cookbook/static/user_images/*
!cookbook/static/user_images/placeholder

# Flask instance (database).
instance/

# Virtual environment.
venv/

# Packaging artifacts.
*.egg-info/

