{% extends 'base.html' %}

{% block title %}Recipes{% endblock %}

{% block header %}
    <div class="row">
        <button onclick="location.href='{{ url_for('recipes.add') }}'">
            <i>add</i>
            Add Recipe
        </button>
        <div class="field label prefix border max">
            <i>search</i>
            <input type="search" id="search" name="search">
            <label>Search</label>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="grid">
        {% for recipe in recipes %}
            <article class="no-padding s12 m6 l3 clickable medium-elevate" onclick="location.href='{{ url_for('recipes.view', id=recipe['id']) }}'">
                <img class="responsive small" src="{{ url_for('static', filename=recipe['image_path']) }}">
                <div class="padding">
                    <h6>{{ recipe['title'] }}</h6>
                    <!-- <p>{{ recipe['created'].strftime('%Y-%m-%d') }}</p> -->
                    <p class="multiline-truncate">{{ recipe['description'] }}</p>
                </div>
            </article>
        {% endfor %}
        <article class="no-padding s12 m6 l3 clickable medium-elevate" onclick="location.href='{{ url_for('recipes.add') }}'">
            <div class="responsive primary" id="add-recipe-card">
                <i class="absolute center middle">add</i>
            </div>
            <div class="padding">
                <h6>Add Recipe</h6>
            </div>
        </article>
    </div>
{% endblock %}

