<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Cookbook</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='pico.css') }}">
</head>
<body>
    <main class="container">
        <nav>
            <h5>Cookbook</h5>
                
            <ul>
                {% if g.user %}
                <li><span>{{ g.user['email'] }}</span></li>
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </nav>
        <section class="content">
            <header>
                {% block header %}{% endblock %}
            </header>
            {% for message in get_flashed_messages() %}
                <mark>{{ message }}</mark>
            {% endfor %}
            {% block content %}{% endblock %}
        </section>
    </main>
    <footer>
        <p>Copyright (c) 2022 yo</p>
    </footer>
</body>
</html>
