section {
    width: 320rem;
    overflow: hidden;
    border-radius: 0;
}

#view-recipe-image {
    flex: 1 1 420rem;
    max-height: 400rem;
    margin: 0;
}

#view-recipe-attributes {
    display: flex;
    margin: 16rem auto;
    width: fit-content;
    max-width: 420rem;
    gap: 8rem;
    justify-content: space-evenly;
}

#view-recipe-attr {
    gap: 8rem;
    white-space: nowrap;
}

#view-recipe-header {
    width: fit-content;
    margin: auto;
    text-align: center;
}

#view-recipe-header h4 {
    display: block;
}

#view-recipe-summary {
    margin: 16rem auto;
    text-align: center;
    width: fit-content;
    max-width: 420rem;
}

#view-recipe-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16rem;
    width: fit-content;
    margin: auto;
}

#view-recipe-nutrition {
    margin-top: 56rem;
}

#view-recipe-nutrition-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Ugly CSS, but does the job. */
#view-recipe-nutrition-header {
    position: absolute;
    top: -32rem;
    left: 0rem;
}

#view-recipe-nutrition table {
    width: 320rem;
    table-layout: fixed;
}
@media only screen and (min-width: 704px) {
    #view-recipe-nutrition table {
        width: 328rem;
        table-layout: fixed;
    }
}

#view-recipe-servings {
    margin: 16rem 0;
    max-widtH: 120rem;
}

#view-recipe-servings-tooltip {
    right: -8rem;
}

#view-recipe-instructions p {
    white-space: pre-wrap;
}

#modal-image-zoom-close-button {
    float: right;
}

#modal-image-zoom-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#zoomed-image {
    width: fit-content;
    max-width: 100%;
    max-height: calc(100vh - 102rem);
    margin: auto;
}
