body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

:is(main,header,footer,section).responsive {
    max-inline-size: 60rem;
    margin: 0 auto;
}

article {
    margin: 2rem;
}

article .header {
    width: fit-content;
    margin: auto;
    text-align: center;
}

article .content {
    display: flex;
    width: fit-content;
    max-width: 41rem;
    margin: 1rem auto;
}
