{% extends 'base.html' %}

{% block title %}Recipes{% endblock %}

{% block header %}
    <div class="large-space"></div>
    <div class="row">
        <div class="field label prefix border max">
            <i>search</i>
            <input type="search" id="search" name="search">
            <label>Search</label>
        </div>
        <button onclick="location.href='{{ url_for('recipes.add') }}'">
            <i>add</i>
            Add Recipe
        </button>
    </div>
{% endblock %}

{% block content %}
    <div class="grid main-grid">
        {% for recipe in recipes %}
            <article class="no-padding s12 m6 l3 clickable medium-elevate" onclick="location.href='{{ url_for('recipes.view', id=recipe['id']) }}'">
                <img class="responsive small" src="{{ url_for('static', filename=recipe['image_path']) }}">
                <div class="padding">
                    <h5>{{ recipe['title'] }}</h5>
                    <!-- <p>{{ recipe['created'].strftime('%Y-%m-%d') }}</p> -->
                    <p>{{ recipe['description'] }}</p>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}

